.error { color: red;
         font-family: arial;
         font-size: 10pt;
         fontstyle:italic;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
    background-color:#FFFFFF;
    width: 1200px;
    float: center;

    background-attachment: fixed;
    background-repeat:no-repeat;
}
h1{
    font-size: 20pt;
    color:#8D9F87;
   

}
h3{
    font-size: 30pt;
    color:#8D9F87;
    text-align: center;

}
h4{
    font-size: 20pt;
    color:#8D9F87;
    text-align: center;

}


#cos{
	width: 1000px;
	margin: auto;
	text-align: justify;
}
#wrapper {
	margin-left: 200px;
	width:1340px;
	margin:auto;
	background-color:white;	
}
#header {

	height:250px;
	background-image:url(../img/header1.jpg);
	background-repeat:no-repeat;
float: center;
	width: 1500px:;
}

#general {
	
	margin: auto;
	height:90px;
	
	color:#8D9F87;
	font-size: 10px;
	text-align:center;
	
	/*background-image:url(img/footer.png);*/
}
.info1{
	float: left;
	width: 100px;
	height:80px;
	padding-left: 580px;
	text-align: left;
	/*background: green;*/
	



}
.info2{
	float: right;
	width: 100px;
	height:80px;
	padding-right: 560px;
	text-align: left;
	/*background: blue;*/
	

}


#menu {
	
	height:25px;
	padding-top:5px;
	text-align:center;
}
#menu a, #footer a{
	color:#8D9F87;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding-left: 400px;
	float: center;
}
#footer {
	
	height:25px;
	padding-top:5px;
	text-align:center;
}
.Button_green {
	background-color:#8D9F87;	
	border-radius:28px;	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Avenir;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	
}
.Button_blue {
	background-color:#8D9F87;	
	border-radius:28px;	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Avenir;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
	background-color:#8D9F87;	
	border-radius:28px;	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Avenir;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}